/* Header top menu css */
body{background-image:url("../images/slider/pattern-bg.png"); background-repeat:repeat; color:#444; overflow-x:hidden !important}
.header_top_menu{
    background:#fff;
    position:relative;
}


a.navbar-brand.our_logo{
    position: absolute;
    left: 0;
    top: -50px;
    width: 25%;
}

.header_top_menu .call_us_text a{
    color:#666;
    font-size:15px;
    margin-left:15px;
    padding:5px;
    display:inline-block;
}
.header_top_menu .call_us_text a i{
    color:#e7a331;
    margin-right:10px;
    font-size:18px;
}

.head_top_social a, .head_top_social li{
    color: #e7a331;
    padding: 5px;
    display: inline-block;
}

/* main menu */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #000;
    height:80px;

}

.menu-scroll .header_top_menu{
    display:none;
}
.menu-scroll a.navbar-brand.our_logo {
    top: -16px;
}

.main_menu_bg{
    background:rgba(0, 0, 0, .45);
    height: 80px;

}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.container-fluid {
    margin-top: 15px;

}
.main_menu_bg li a.booking{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #e7a331 !important;
    padding: 5px 10px;
    margin-top: 8px;
}
.main_menu_bg li a:hover.booking{
    color: #da9b31 !important;
}

.main_menu_bg .navbar {
    margin-bottom: 0px;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #da9b31;
}

.portfolio_content{
    padding-bottom:120px;
    display:inline-block;
}
.portfolio .portfolio_content .head_title h3{
    color:#000000;
}
.portfolio .portfolio_content .head_title h4{
    color:#000000;
}

.head_title{
    padding-top:100px;
    padding-bottom: 50px;
}

.single_portfolio_text{
    display:inline-block;
    padding:0;
    position:relative;
    overflow:hidden;

}
.single_portfolio_text img{
    width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay{
    top: 28px;
    left: 14px;
}

.portfolio_images_overlay{
    width: 90%;
    height: 80%;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    top:-100%;
    left: 14px;
    position: absolute;
    transition:.6s;
}
.portfolio_images_overlay h6{
    text-transform:uppercase;
    color:#fff;
    font-size:1.3125rem;
    line-height:2rem;
}

.portfolio_images_overlay p.product_price{
    font-size:2.5725rem;
    color:#fff;
    line-height:3rem;
}
/*nav menu-item-has-children sub-menu*/
/*login */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    /*width: 49%;*/
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    margin: 0;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > li >a {
    color: black;
    padding:0;
    text-decoration: none;
    float: left;
}

.dropdown-content>li> a:hover {background-color: #f1f1f1;
color: #E7A331}

.dropdown:hover .dropdown-content {
    display: block;
}
/*profile*/
.mainprofile{
    background: #f0f0f0;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}
.wrapper{
    background: #f1f1f1;

}
/*menu left*/

.panel-default  h3.panel-title
{
    text-align: left;

}
.imageavatar{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.imageslider
{
    width: 100%;
}
#contentbody{background-color:#eee; display:inline; float:left; min-height:500px; padding:0 30px; width:100%; padding-top:10px}

/*          Hero Headers        */

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
/*            Overlay           */

.overlay {
    position: absolute;
    width: 100%;
    top:50%;
    left: 0;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}
/*preloader*/
.scrollToTop{bottom:105px;
    display:none;
    font-size:32px;
    color: #FFFFFF;
    font-weight:bold;
    height:50px; position:fixed;
    right:75px;
    text-align:center;
    text-decoration:none;
    width:50px;
    z-index:9999;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
    background:none repeat scroll 0 0 #09c;
    border:1px solid #FFF;
    border-radius:5px
}

.scrollToTop:hover, .scrollToTop:focus{text-decoration:none; outline:none; background-color:#fff; border-color:#09c; color:#09c !important}

#preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:99;
}
#status{
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("../images/preloading.gif");
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}
.left_bar{
    float:left;
    display:inline;
    width:93%;
    min-height:400px;
}
.single_leftbar{
    float:left;
    display:inline;
    width:100%;
    margin-bottom:25px;
}
.single_leftbar > h2{
    background-image:url("../images/header_dot.png");
    background-repeat:repeat;
    float:left; width:100%;
    margin-top:0;
}
.single_leftbar > h2 span{
    color: #f1f1f1;
    background-color:#0d6aad;
    display:inline-block;
    float:left; font-size:15px;
    font-weight:400; padding:7px 10px;
    position:relative;
    line-height:15px;
}
.recentpost_nav li{
    display:block;
    margin-bottom:20px;
}
.recentpost_nav li a{
    display:block;
    line-height:23px;
    -webkit-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}
.recentpost_nav li a:hover{
    opacity:0.75;
}
.recentpost_nav li a > img{
    margin-bottom:5px;
    width:100%;
}
.recent_title:before{
    content:"ï„";
    margin-right:5px
}
.recent_title:before{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:normal;
    line-height:1;
}
.middle_bar {
    display: inline;
    float: left;
    padding-bottom: 40px;
    width: 98%;
}

.custom-tabs > li:last-child a{
    border-right:0;
    float:right;
}

.custom-tabs > li > a{
    padding:8px 5px;
    font-size:13px;
    border-radius:0;
    border:none;
}
catg_nav3 li{width:100%}
.catg_nav3 .catgimg_container{width:100%}
.catg3_bottompost{float:left; display:inline; width:100%; margin-top:10px}
.slider_right li{border-top:1px solid #f1f1f1; display:block; padding-top:15px; padding-bottom:5px}
.slider_right .media-left{width:70px; height:70px}
.slider_right .media-left:hover{opacity:0.75}
.slider_right .media-left > img{ height:100%}
.custom-tabs{background:none repeat scroll 0 0 #09c}
.custom-tabs > li > a:hover{background-color:#09c; color:#fff}
.custom-tabs > li.active > a, .custom-tabs > li.active > a:hover, .custom-tabs > li.active > a:focus{border-top:3px solid #09c}
#footer{float:left; display:inline; width:100%}
.footer_top{float:left; display:inline; width:100%; background-color:#151515}
.single_footer_top{float:left; display:inline; width:100%; padding-bottom:30px}
.single_footer_top > h2{background-color:rgba(0,0,0,0.04); border-left:0 none; border-right:0 none; color:#b9b9b9; display:block; font-size:16px; font-weight:400; margin-bottom:15px; padding:10px 0}
.single_footer_top ul li a{color:#eee}
.submit_btn{border:medium none; border-radius:2px; font-size:13px; font-style:normal; font-weight:bold; height:40px; line-height:40px; min-width:80px; width:100%; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.footer_labels li a{display:block; float:left; background-color:#222; color:#eee; font-size:12px; padding:5px 10px; margin-left:5px; margin-bottom:10px; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.footer_labels li a:hover, .footer_labels li a:focus{text-decoration:none}
.contact_form label{color:#fff; font-size:13px; margin-bottom:5px}
.contact_form input{background-color:#222; border-radius:0; color:#eee; border:none; margin-bottom:15px}
.contact_form textarea{background-color:#222; border-radius:0; color:#eee; border:none; height:100px}
.send_btn{border:medium none; border-radius:2px; font-size:13px; font-style:normal; font-weight:bold; height:35px; line-height:35px; min-width:80px; width:100%; margin-top:20px; margin-bottom:0 !important; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.footer_bottom{background:none repeat scroll 0 0 #252525; display:inline; float:left; padding:10px 10px 0; width:100%}
.footer_bottom_left{float:left; display:inline; width:50%; text-align:left}
.footer_bottom_left p{color:#fff; font-size:13px; margin-top:5px}
.footer_bottom_right{float:right; display:inline; width:50%; text-align:right}
.footer_bottom_right li{display:inline-block}
.footer_bottom_right li a{background-color:#f13b3b; border-radius:50%; color:#fff; display:inline-block; margin-bottom:8px; opacity:0.7; padding:6px 10px}
.footer_bottom_right li a:hover{opacity:1}
.footer_bottom_right li:nth-of-type(1) a{background-color:#2AB2E3}
.footer_bottom_right li:nth-of-type(2) a{background-color:#3b5998; padding:6px 12px}
.footer_bottom_right li:nth-of-type(4) a{background-color:#D42E33}
.footer_bottom_right li:nth-of-type(5) a{background-color:#E36F36}
.custom-tabs > li:last-child a{border-right:0; float:right}
.single_footer_top > h2{border-bottom:5px solid #09c}
.subscribe_mail i{color:#09c}
.submit_btn{background-color:#09c; color:#fff}
.submit_btn:hover, .send_btn:hover{background-color:#0ebcf6; color:#eee}
.footer_labels li a:hover, .footer_labels li a:focus{background-color:#09c}
.send_btn{background-color:#09c !important; color:#fff}
.send_btn:hover{background-color:#0ebcf6 !important; color:#eee}
.tooltip-inner{border-bottom:3px solid #09c}
.tooltip.top .tooltip-arrow{border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #09c}
.scrollToTop{background:none repeat scroll 0 0 #09c; border:1px solid #FFF; color:#FFF; border-radius:5px}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; border-color:#09c; color:#09c !important}
.link_nav li a{color:#09c}
.link_nav li a:before{color:#09c}
.read_more{background-color:#09c; color:#fff}
.read_more:hover, .read_more:focus{color:#fff; background-color:#111}
.author_name:hover, .author_name:focus, .post_date:hover, .post_date:focus{color:#09c}
.single_post_area .author_name, .single_post_area .post_date{color:#09c}
.single_post_area .author_name:hover, .single_post_area .post_date:hover{color:#444}
.single_post_area .author_name i, .post_date i{color:#252525}
.post_title{border-color:#09c; color:#555}
.related_post > h2 i{color:#09c}
.single_post_content ul li:before{color:#09c}
.custom-tabs{background:none repeat scroll 0 0 #09c}
.custom-tabs > li > a:hover{background-color:#09c; color:#fff}
.custom-tabs > li.active > a, .custom-tabs > li.active > a:hover, .custom-tabs > li.active > a:focus{border-top:3px solid #09c}
.left_slide{background:none repeat scroll 0 0 #09c}
.footer_top{border-top:5px solid #09c}
.slick-prev, .slick-next{background:none repeat scroll 0 0 #09c; color:#fff}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{background:#fff; color:#09c !important}
.single_post_content blockquote{border-color:#09c}
.error_content a:hover{background-color:#09c}
@media(max-width:1199px ){
    .logo_area{width:32%
    }
    .top_addarea{width:66%}
    .catg_nav li{width:47.94%}
    .catg_nav3 li{width:100%}
    .relatedpost_nav li{margin-right:9px}
    .custom-tabs > li > a{font-size:11px; padding:8px 2px}
}
@media(max-width:991px ){
    .slider_tittle{bottom:10px; color:#fff; font-size:18px; line-height:1.5em; margin:0 15px}.logo_area{width:100%}
    .top_addarea{display:none}
    .middle_bar{width:100%}.catg_nav li{width:47.64%}
    .catg_nav3 li{width:100%}
    .catg5_nav li{width:49%; padding-right:6px}
    .slider_right .media-left > img{height:auto}
    .ppost_nav li{width:50%; float:left}
    .catg_nav2 .catgimg_container{height:250px}
    .relatedpost_nav li{margin-right:7px}
    .custom-tabs > li > a{font-size:13px; padding:8px 5px}
}
@media(max-width:767px ){.navbar-collapse{padding-left:15px}.container-fluid{padding-left:15px}#searchIcon{height:50px; float:right}#search-hide input{height:108px; width:89%}.header_search{width:100%}.navbar{width:100%}.navbar-toggle{float:none; margin:8px auto; padding:13px}.navbar-header{text-align:center}button.remove{padding-top:40px; padding-right:6px}.left_bar{width:100%}}
@media(max-width:480px ){.logo_area{text-align:center}.logo img{width:100%}.catg_nav li{width:100%}.category_three{width:100%}.category_four{width:100%}.catg5_nav li{padding-right:0; width:100%}.ppost_nav li{width:100%}.footer_bottom_left{text-align:center; width:100%}.footer_bottom_right{text-align:center; width:100%}.read_more{z-index:99}.singlearcive_article p{display:none}.relatedpost_nav li{margin-right:0; width:100%}.recentpost_nav li a > img{height:150px}.carousel-caption{bottom:5px; padding-bottom:0; padding-top:10px; z-index:999}.latest_newsarea span{font-size:14px; padding:5px 15px}}
@media(max-width:320px ){.carousel-indicators{display:none}.carousel-caption > h1{font-size:10px}.read_more{font-size:10px; padding:5px 6px; right:5px; top:5px}.singlearcive_article{bottom:0}.singlearcive_article h2{line-height:15px}.singlearcive_article p{display:none}.post_title{border-left:5px solid #09c; font-size:1.5em}.single_post_area .author_name, .post_date{width:100%; float:left; margin-bottom:10px}.social_area ul li > a{font-size:20px; margin:0 2px}.carousel-caption{bottom:5px; padding-bottom:0; padding-top:10px}.carousel-caption > h1 a{font-size:14px}.custom-tabs > li > a{font-size:11px}.singlearcive_article > h2 a{font-size:11px}.author_name{margin-bottom:2px; float:left}}
